In [1]:
import pandas as pd
import numpy as pn
import sklearn as sk
import json
import matplotlib.pyplot as plt

In [2]:
# movies = pd.read_csv('./data/head_10_movies.csv')
# credits = pd.read_csv('./data/head_10_credits.csv')
movies = pd.read_csv('./data/tmdb_5000_movies.csv')
credits = pd.read_csv('./data/tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies = pd.merge(left=movies, right=credits, left_on='id', right_on='movie_id')

In [6]:
# turn json into python objects
json_columns = ['genres', 'keywords', 'production_countries', 'spoken_languages', 'cast', 'crew']
for column in json_columns:
    movies[column] = movies[column].apply(json.loads, encoding="utf-8")

In [7]:
movies.genres[0][0]['name']

'Action'

In [8]:
def cast_to_actors(cast):
    actors = []
    for person in cast:
        actors.append('{} - {}'.format(person['name'], person['id']))
    return actors

In [9]:
movies.actors = movies.cast.apply(cast_to_actors)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [10]:
movies.actors

0       [Sam Worthington - 65731, Zoe Saldana - 8691, ...
1       [Johnny Depp - 85, Orlando Bloom - 114, Keira ...
2       [Daniel Craig - 8784, Christoph Waltz - 27319,...
3       [Christian Bale - 3894, Michael Caine - 3895, ...
4       [Taylor Kitsch - 60900, Lynn Collins - 21044, ...
5       [Tobey Maguire - 2219, Kirsten Dunst - 205, Ja...
6       [Zachary Levi - 69899, Mandy Moore - 16855, Do...
7       [Robert Downey Jr. - 3223, Chris Hemsworth - 7...
8       [Daniel Radcliffe - 10980, Rupert Grint - 1098...
9       [Ben Affleck - 880, Henry Cavill - 73968, Gal ...
10      [Brandon Routh - 17271, Kevin Spacey - 1979, K...
11      [Daniel Craig - 8784, Olga Kurylenko - 18182, ...
12      [Johnny Depp - 85, Orlando Bloom - 114, Keira ...
13      [Johnny Depp - 85, Armie Hammer - 53807, Willi...
14      [Henry Cavill - 73968, Amy Adams - 9273, Micha...
15      [Ben Barnes - 25130, William Moseley - 5528, A...
16      [Robert Downey Jr. - 3223, Chris Evans - 16828...
17      [Johnny Depp - 85, PenÃ©lope Cruz - 955, Ian Mc...
18      [Will Smith - 2888, Tommy Lee Jones - 2176, Jo...
19      [Martin Freeman - 7060, Ian McKellen - 1327, R...
20      [Andrew Garfield - 37625, Emma Stone - 54693, ...
21      [Russell Crowe - 934, Cate Blanchett - 112, Ma...
22      [Martin Freeman - 7060, Ian McKellen - 1327, R...
23      [Dakota Blue Richards - 45589, Nicole Kidman -...
24      [Naomi Watts - 3489, Jack Black - 70851, Adrie...
25      [Kate Winslet - 204, Leonardo DiCaprio - 6193,...
26      [Chris Evans - 16828, Robert Downey Jr. - 3223...
27      [Taylor Kitsch - 60900, Alexander SkarsgÃ¥rd - ...
28      [Chris Pratt - 73457, Bryce Dallas Howard - 18...
29      [Daniel Craig - 8784, Judi Dench - 5309, Javie...
                              ...
4773    [Brian O'Halloran - 23629, Jeff Anderson - 236...
4774    [Bobby Kendall - 1168215, Donald L. Brooks - 1...
4775    [Kate Dollenmayer - 111739, Mark Herlehy - 146...
4776    [Aaron Eckhart - 6383, Stacy Edwards - 43372, ...
4777    [Franky G - 2682, Leo Minaya - 1180559, Manuel...
4778    [Brendan Fletcher - 32205, Shaun Sipos - 65772...
4779        [Richard Linklater - 564, Mark James - 94675]
4780    [R.L. Mann - 1532384, Tama Filianga - 1532383,...
4781    [Suzi Lorraine - 92813, Jared Degado - 1292093...
4782                              [Alex Kendrick - 78040]
4783    [Stephen Lang - 32747, Kelly Blatz - 55464, Br...
4784    [Mark Duplass - 45407, Katie Aselton - 221944,...
4785    [Louis Brooke - 1427424, Allan Bryan Weku - 14...
4786    [Zoe Lister-Jones - 82885, Daryl Wein - 131870...
4787    [Jason Trost - 1009255, Lucas Till - 429, Jame...
4788    [Divine - 10369, David Lochary - 10370, Mary V...
4789    [Maggie Cheung - 1338, Nick Nolte - 1733, BÃ©at...
4790    [Nargess Mamizadeh - 143272, Maryiam Palvin Al...
4791    [Michael Parle - 1264642, Emma Eliza Regan - 1...
4792    [Koji Yakusho - 18056, Masato Hagiwara - 11632...
4793    [Tony Sancho - 1165265, Michael Cortez - 11652...
4794    [Sasha Ramos - 1383622, Erin Cline - 168675, E...
4795    [Darling Narita - 238147, Peter Greene - 11803...
4796    [Shane Carruth - 76624, David Sullivan - 76625...
4797                                                   []
4798    [Carlos Gallardo - 20498, Jaime de Hoyos - 574...
4799    [Edward Burns - 12833, Kerry BishÃ© - 58356, Ma...
4800    [Eric Mabius - 11867, Kristin Booth - 34915, C...
4801    [Daniel Henney - 82093, Eliza Coupe - 210050, ...
4802    [Drew Barrymore - 69597, Brian Herzlinger - 85...
Name: cast, Length: 4803, dtype: object

### Create list of all actors

In [11]:
all_actors = []
for actors in movies.actors:
    for actor in actors:
        all_actors.append(actor)

In [12]:
actors = pd.Series(all_actors)

In [13]:
unique_actors_count = pd.crosstab(actors, columns='count') \
.sort_values(by='count', ascending=False)

unique_actors_count.head(12)

col_0                     count
row_0
Samuel L. Jackson - 2231     67
Robert De Niro - 380         57
Bruce Willis - 62            51
Matt Damon - 1892            48
Morgan Freeman - 192         46
Steve Buscemi - 884          43
Liam Neeson - 3896           41
Johnny Depp - 85             40
Owen Wilson - 887            40
John Goodman - 1230          39
Alec Baldwin - 7447          39
Nicolas Cage - 2963          39

### Vectorize actors

In [14]:
movies_actors_ids = []
for actors in movies.cast:
    movie_actors_ids = []
    for actor in actors:
        movie_actors_ids.append(str(actor['id']))
    movies_actors_ids.append(' '.join(movie_actors_ids))

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
CountVectorizer(analyzer='word', binary=True)

CountVectorizer(analyzer='word', binary=True, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

# TODO: THIS IS BROKEN:

In [16]:
#movies['vector_actors'] = vectorizer.fit_transform(movies_actors_ids).toarray()

In [17]:
len(unique_actors_count)

54588

### label records as having Samuel L. Jackson

In [18]:
samuel_label = 'Samuel L. Jackson - 2231'
def record_has_samuel (actors):
    return samuel_label in actors

In [19]:
movies.samuel = movies.actors.apply(record_has_samuel)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [20]:
movies_with_samuel = movies[movies.samuel == True]

#### There should be 67 movies with Samuel L Jackson

In [21]:
len(movies_with_samuel)

67

# Create Parameters

In [23]:
y = movies.samuel
#x = movies[['title_x', 'revenue']]
#x = movies[['revenue', 'vote_average', 'vote_count', 'vector_actors']]
x = movies[['revenue', 'vote_average', 'vote_count']]

# Predict Using Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(x,y)

GaussianNB(priors=None)

## Get Accuracy

In [25]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [26]:
predict_true = clf.predict(x)

In [27]:
len(predict_true[predict_true == True])

103

In [28]:
confusion_matrix(y, clf.predict(x))

array([[4642,   94],
       [  58,    9]])

In [29]:
accuracy_score(y, predict_true)

0.9683531126379347

# TODO

Perform deap learning prediction https://www.kaggle.com/liwste/simple-deep-mlp-with-keras

Create cross validation

In [ ]:
movies.head()